.flex {
  display: flex;
}

.width-100 {
  width: 100%;
}

.height-100vh {
  height: 100vh;
}

.height-100 {
  height: 100%;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.no-decoration {
  text-decoration: none;
}

.flex-column {
  flex-direction: column;
}

.negitive {
  filter: invert();
}

.white-background {
  background-color: white;
}

.transparent {
  color: transparent;
}

.no-cursor {
  cursor: default;
}
